<h1 class="my-4 text-center">Welcome, <%= current_admin.first_name %> (<%= current_admin.team.name %>)</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="text-center"><strong>Number of members:</strong></h5>
          <p class="text-center display-5"><%= User.where(team: current_admin.team).count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="text-center"><strong>Total procedures:</strong></h5>
          <p class="text-center display-5"><%= Procedure.where(team: current_admin.team).count %></p>
        </div>
      </div>        
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="text-center"><strong>Approved procedures:</strong></h5>
          <p class="text-center display-5"><%= Procedure.where(team: current_admin.team).where(approved: true).count %></p>
        </div>
      </div>        
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="text-center"><strong>Unapproved approval:</strong></h5>
          <p class="text-center display-5"><%= Procedure.where(team: current_admin.team).where(approved: false).count %></p>
        </div>
      </div>        
    </div>

    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>Team members</strong></h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">email</th>
                <th scope="col"># of procedures</th>
              </tr>
            </thead>
            <tbody>
              <% User.where(team_id: current_admin.team_id).where.not(id: current_admin.id).each do |user| %>
                <tr>
                  <th scope="row"><%= user.id %></th>
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.procedures.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->
