<h1 class="my-4 text-center">Welcome, <%= current_member.first_name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>Your procedures (<%= Procedure.where(team_id: current_member.team_id).where(user_id: current_member.id).count %>)</strong></h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Approved?</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% Procedure.where(team_id: current_member.team_id).where(user_id: current_member.id).order(id: :desc).each do |procedure| %>
                <tr>
                  <td><%= link_to procedure.title, procedure_path(procedure), class: "procedure-list" %></td>
                  <td><%= procedure.approved.to_s.capitalize %></td>
                  <td><%= link_to 'Edit', edit_procedure_path(procedure), class: "btn btn-outline-dark" %></td>
                  <td><%= link_to 'Delete', procedure_path(procedure), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
