<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<i class="fa fa-address-book"></i>
<% if user_signed_in? %>
  <p><strong>first name:</strong> <%= current_user.first_name %></p>
  <p><strong>last name:</strong> <%= current_user.last_name %></p>
  <p><strong>email:</strong> <%= current_user.email %></p>
  <p><strong>team:</strong> <%= current_user.team.name %></p>
  <p><strong>Number of procedures:</strong> <%= current_user.procedures.count %></p>
<% end %>