<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <%= form_with(model: @procedure, local: true, url: procedure_path) do |form| %>
        <% if @procedure.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@procedure.errors.count, "error") %> prohibited this procedure from being saved:</h2>

            <ul>
              <% @procedure.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-2">
          <%= form.label :title, class: "form-label" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-2">
          <%= form.label :body, class: "form-label" %>
          <%= form.rich_text_area :body, class: "form-control rich-text-area", rows: 10 %>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-success" %>
        </div>
      <% end %>

      <%= link_to 'Show', procedure_path(@procedure), class: "d-block" %>
      <%= link_to 'Back', procedures_path, class: "d-block" %>
    </div>
  </div>
</div>
