<% content_for :title do %>
  <%= @procedure.title %>
<% end %>

<div class="container">
  <div class="row mt-4">
    <div class="col-md-8">
      <h2 class="text-center"><%= @procedure.title %></h2>
      <p>By <strong><%= @procedure.user.first_name %> <%= @procedure.user.last_name %></strong></p>
      <p>Created at <strong><%= @procedure.created_at %></strong></p>

      <div class="card">
        <div class="card-body">
          <p><%= @procedure.body %></p>

          <% if member_signed_in? %>
            <% if current_member.id == @procedure.user_id %>
              <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', procedures_path %>
            <% end %>
          <% end %>

          <% if admin_signed_in? %>
            <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', procedures_path %>

            <% if !@procedure.approved? %>
              <%= link_to 'Approve', approve_procedure_path(@procedure), method: :patch %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">      
      <div>
        <h2 class="text-center">Related videos</h2>
        <% @videos["items"].each do |video| %>
          <p><%#= video["id"]["videoId"] %></p>
          <iframe id="iframe" 
                  style="width:100%;"
                  src=
  "https://www.youtube.com/embed/<%= video["id"]["videoId"] %>"
                  data-autoplay-src="
  https://www.youtube.com/embed/<%= video["id"]["videoId"] %>?autoplay=1">
              </iframe>
        <% end %>
      </div>
    </div>
  </div>
</div>
