<% content_for :title do %>
  <%= @procedure.title %>
<% end %>

<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <h2 class="text-center"><%= @procedure.title %></h2>
      <p>By <strong><%= @procedure.user.first_name %> <%= @procedure.user.last_name %></strong></p>
      <p>Created at <strong><%= @procedure.created_at %></strong></p>

      <div class="card">
        <div class="card-body">
          <p><%= @procedure.body %></p>

          <% if member_signed_in? %>
            <% if current_member.id == @procedure.user_id %>
              <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', procedures_path %>
            <% end %>
          <% end %>

          <% if admin_signed_in? %>
            <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', procedures_path %>

            <% if !@procedure.approved? %>
              | <%= link_to 'Approve', approve_procedure_path(@procedure), method: :patch %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% if member_signed_in? %>
      <h2 class="text-center my-4">Related videos</h2>
      <% @videos["items"].each do |video| %>
        <div class="col-md-4 mb-2">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/<%= video["id"]["videoId"] %>?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1" frameborder="0" allowfullscreen></iframe>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
