<p>
  <strong>Title:</strong>
  <%= @procedure.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @procedure.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @procedure.user.first_name %>
  <%= @procedure.user_id %>
</p>

<% if member_signed_in? %>
  <% if current_member.id == @procedure.user_id %>
    <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> |

  <br/>
  <br/>
  <br/>
  <br/>
  <% if !@procedure.approved? %>
    <%= link_to 'Approve', approve_procedure_path(@procedure), method: :patch %>
  <% end %>
<% end %>

<br/>
<br/>
<br/>
<br/>
<%= link_to 'Back', procedures_path %>
