<% content_for :title do %>
  <%= @procedure.title %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>Title:</strong>
        <%= @procedure.title %>
      </p>

      <p>
        <strong>Body:</strong>
        <%= @procedure.body %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @procedure.user.first_name %>
        <%= @procedure.user_id %>
      </p>

      <% if member_signed_in? %>
        <% if current_member.id == @procedure.user_id %>
          <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> |
        <% end %>
      <% end %>

      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_procedure_path %> | <%= link_to 'Delete', procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> |

        <br/>
        <br/>
        <br/>
        <br/>
        <% if !@procedure.approved? %>
          <%= link_to 'Approve', approve_procedure_path(@procedure), method: :patch %>
        <% end %>
      <% end %>

      <br/>
      <br/>
      <br/>
      <br/>
      <%= link_to 'Back', procedures_path %>
    </div>

    <div class="col-md-4 bg-success">      
      <div>
        <h1>Related videos</h1>
        <% @videos["items"].each do |video| %>
          <p><%#= video["id"]["videoId"] %></p>
          <iframe id="iframe" 
                  style="width:100%;height:100%"
                  src=
  "https://www.youtube.com/embed/<%= video["id"]["videoId"] %>"
                  data-autoplay-src="
  https://www.youtube.com/embed/<%= video["id"]["videoId"] %>?autoplay=1">
              </iframe>
        <% end %>
      </div>
    </div>
  </div>
</div>

