<p>
  <strong>Title:</strong>
  <%= @procedure.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @procedure.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @procedure.user.first_name %>
  <%= @procedure.user_id %>
</p>

<% if current_member.id == @procedure.user_id %>
  <%= link_to 'Edit', edit_users_procedure_path %> | <%= link_to 'Delete', users_procedure_path(@procedure), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', users_procedures_path %>